@charset "utf-8";
/* CSS Document */


#slider {
	width: 281px;
	margin: 0 auto;
	position: absolute;
	left: 32px;
	top: 153px;
	height: 227px;
}

#sliderframe {
	width: 448px;
	position: absolute;
	top:4px;
	left:405px;
	padding-top: 20;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 170;
	color: #FFF;
	overflow: hidden;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

.scroll {
    height: 400px;
    width: 500px;
    overflow: auto;
    overflow-x: hidden;
    position: left;
    clear: left;
	background-image: url(../_images/content-background_noise.png);
/*    background: #FFFFFF url(../images/content_pane-gradient.gif) repeat-x scroll left bottom;*/
}

.scrollContainer div.panel {
    padding: 20px;
    height: 400px;
    width: 400px;	
}

#shade {
    background: #EDEDEC url(../images/shade.jpg) no-repeat 0 0;
    height: 50px;
}

ul.navigation {
	font-size:15px;
    list-style: none;
	padding: 10px;
	border:21px;
	border:1px;

}

ul.navigation a {
    color: #000;
    text-decoration: none;
}

ul.navigation a:hover {
	background-color: #6D8DC8;
}

ul.navigation a.active {
	background-color: #933;
}

ul.navigation a:focus {
    outline: none;
}
